<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Output</title>
    </head>

    <body>
        <h1>Output for dataset {{ name }}</h1>
        {% for elem in lst %}
        {% set outer_loop = loop %}
            {% for key, value in elem.items() %}
                {% if key == 'text' %}
                    <h2>{{key}}: {{ outer_loop.index }}</h2>
                    <h4>{{value}}</h4>
                {% else %}
                    <h4>{{key}}: {{value}}</h4>
                {% endif %}
            {% endfor %}
            <hr>
        {% endfor %}
    
    </body>

</html>

